<footer id="footer" class="main-content-wrap">
	<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
    <br>
    <span id="busuanzi_container_site_pv">
    	本站总访问量<span id="busuanzi_value_site_pv"></span>次
	</span>
	<span id="busuanzi_container_site_uv">
  		本站访客数<span id="busuanzi_value_site_uv"></span>人次
	</span>
</footer>
